{{#if msg}}
<div class="alert alert-danger w-50 mt-3" role="alert"> {{msg}} </div>
{{/if}}
{{#with newItem}}
<div class="container">
    <div class="row">
        <div class="col-sm-12 p-2 mt-4">
            <form action="/delete/{{id}}" method="POST">
                <div class="card">
                    <img src="{{src}}" class="card-img-top m-auto" style="height: 200px; width:200px;" alt="....">
                    <div class="card-body">

                        <div class="form-group">
                            <label class="text-danger">Product id</label>
                            <input type="text" class="form-control" name="id" id="id" value="{{id}}">
                        </div>
                        <div class="form-group">
                            <label class="text-danger">Product Name</label>
                            <input type="text" class="form-control" name="proName" id="proName"
                               value="{{proName}}">
                        </div>
                        <div class="form-group">
                            <label  class="text-danger" for="role">Quantity:</label>
                            <input type="text" class="form-control" name="quantity" id="quantity"
                               value="{{quantity}}">
                        </div>
                        <div class="form-group">
                            <label  class="text-danger" for="role">Description:</label>
                            <input type="text" class="form-control" name="description" id="description"
                               value="{{description}}">
                        </div>
                        <div class="form-group ">
                            <label class="text-danger" for="role">Retail Price:</label>
                            <input type="text" class="form-control" name="retailPrice" id="retailPrice"
                               value="{{retailPrice}}">
                        </div>
                        <div class="form-group ">
                            <label class="text-danger" for="role">Purchase Price:</label>
                            <input type="text" class="form-control" name="purchasePrice" id="purchasePrice"
                               value="{{purchasePrice}}">
                        </div>
                        <div class="form-group ">
                            <label class="text-danger" for="role text-danger">Discount:</label>
                            <input type="text" class="form-control" name="percentage_discount" id="percentage_discount"
                               value="{{percentage_iscount}}">
                        </div>
                        <button  type="submit" class="myButton2">Delete</button>
                        {{!-- <button type="submit" class="btn btn-danger">Delete</button> --}}
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
{{/with}}



