{{> carousel}}
<div class="container py-5">
  <div class="row">
    {{#each product}}
    <div class="card col-md-4 p-5 mb-3">
      <img src={{src}} class="card-img-top" style="height: 300px;" alt="...">
      <div class="card-body">
        <h5 class="card-title text-danger text-bild text-uppercase">{{proName}}</h5>
        <p class="card-text">description :{{description}}</p>
        <h3 class="card-text text-info">Retail Price:{{retailPrice}}€</h3>
        <h3 class="card-text text-info">Discount:{{percentage_discount}}%</h3>
        <div> <input type="number" placeholder="Qty" id="qty_{{id}}" ></div>
      </div>
      <button class="btn" id="favoriteButton_{{id}}" onclick="addFavorite({{id}},'{{proName}}')"
        style="position:absolute; top: 0; right: 0; z-index: 10; color: grey; font-size: 1rem;">
        <i class="fas fa-heart"></i>
      </button>
      
      <a href="#" class="btn btn-primary" onclick="orderButton('{{proName}}',document.getElementById('qty_{{id}}').value)">Add to cart</a>
    </div>
    {{/each}}
  </div>
</div>
